<div class="col-md-4" ng-controller="MailListingController">
    <h2>Sidebar</h2>
    <ul id="emailListing" class="list-group" >
        <li class="list-group-item" ng-repeat="mail in emails" ng-click="setSelectedMail(mail)">
            <div ng-class="{selected: isSelected(mail)}">
                <div><b>{{mail.from}}</b></div>
                <div>{{mail.subject}}</div>
            </div>
        </li>
    </ul>
</div>
<div class="col-md-8" ng-controller="ContentController">
    <div ng-show="!selectedMail">
        <h1>No conversation selected</h1>
    </div>
    <div class="container" ng-show="selectedMail" >
        <form role="form" class="form-horizontal" id="replyForm" ng-submit="sendEmailReply()" ng-show="showingReply" style="padding:10px">
            <div class="form-group">
                <label for="messageTo" class="col-sm-2 control-lable">To</label>
                <div class="col-sm-10">
                    <input type="email" id="messageTo" class="form-control" ng-model="reply.to" placeholder="">
                </div>
            </div>
            <div class="form-group">
                <label for="message" class="col-sm-2 control-lable">Message</label>
                <div class="col-sm-10">
                    <textarea name="reply" class="form-control" id="message" rows="3" ng-model="reply.message">
                        {{reply.message}}
                    </textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button class="btn btn-danger" ng-click="sendReply()">send reply</button>
                    <button class="btn btn-alert" ng-click="toggleReplyForm()">cancel</button>
                </div>
            </div>
        </form>
        <div class="row header">
            <div class="col-md-6"><b>{{ selectedMail.subject }}</b></div>
            <div class="col-md-6">{{ selectedMail.sent_at | date: 'dd/MM/yy' }}</div>
        </div>
        <div>{{ selectedMail.from}} to {{selectedMail.to}}</div>
        <hr>
        <div ng-bind="selectedMail.message">
        </div>
        <hr>
        <button class="btn btn-success" ng-click="toggleReplyForm()">Reply</button>
    </div>
</div>